<p id="notice"><%= notice %></p>

<h2>Mostrando los datos de <%= @student.name%></h2>

<h3>
  <strong>Name:</strong>
  <%= @student.name %>
</h3>
<br>
<h3>
  <strong>Age:</strong>
  <%= @student.age %>
</h3>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
